#File extensions
*.bak
*.Bak
*.o
*.d
*.crf
*.lst
*.map
*.axf
*.hex
*.htm
*.lnp
*.tra
*.sym
*.__i
*._i?
*.plg
*.txt
*.exe
*.uvoptx
*.abideno_dbu-mi
*.icf
*.bin
*.dep
*.Inp
*.scvd
*.iex
*.ivoptx
*.uvguix.*
*.xml
*.su
*.prefs
*.launch

#Folders
/build-FSM_Generator-Desktop_Qt_6_5_1_MinGW_64_bit-Debug

