#File extensions
*.bak
*.Bak
*.o
*.d
*.crf
*.lst
*.map
*.axf
*.hex
*.htm
*.lnp
*.tra
*.sym
*.__i
*._i?
*.plg
*.txt
*.exe
*.uvoptx
*.abideno_dbu-mi
*.icf
*.bin
*.dep
*.Inp
*.scvd
*.iex
*.ivoptx
*.uvguix.*
*.xml
*.su
*.prefs
*.launch

#Folders
Project/CUBEMX_Repository/STM32Cube_FW_H5_V1.0.0RC4

#Project/NUCLEO_H563/MDK-ARM/G3_Hybrid_Nucleo
Project/NUCLEO_H563/STM32CubeIDE/Debug

#Project/EVALKIT_H573/MDK-ARM/G3HYBRID
Project/EVALKIT_H573/STM32CubeIDE/Debug

Project/ModularMPrototypeH563/STM32CubeIDE/Debug

/Documentation
